
.characters{
  overflow-x: auto;
  border: solid #fff;
}
.characters > ul{
  display: flex;
  flex-direction: row;
  width: max-content;
}
.characters > ul > li
{
  list-style: none;
  cursor: pointer;
  margin: 3px;
  height: 100px;

}
.characters > ul > li img
{
 max-width: 100%;
 height: 100%;
}

.characters > ul > li img:hover{
  border: solid #fff;
}
