<div class="container">
<!-- <audio controls loop autoplay style="align-self: center;" id="audio">
  <source src="../../../assets/audio/battleTheme.mp3" type="">
</audio> -->
<button style="margin-bottom:5px;" (click)="muteMusic()" *ngIf="!muted" >Mute</button>
<button style="margin-bottom:5px;" (click)="playMusic()" *ngIf="muted">play</button>

  <div class="battle-card" >
    <div class="card card__header">
      <div class="title">
        <h2> turn {{battle.getTurn()}} </h2>
      </div>

      <div class="timer">
        <app-time-bar
        [bar]="battle.getTimeBar()"
         ></app-time-bar>
      </div>
    </div>

    <div class="card card__opponent p-5">
      <div class="opponent_name">
        <span class="name">{{enemy.getName()}}</span>
      </div>

      <app-players-bar
      [bar]="battle.getEnemyLifeBar()"
      ></app-players-bar>

  <div class="profile_opponent">
    <!-- <app-player-profile
    profile="bigodudo.png"
    ></app-player-profile> -->

        <app-player-profile
        [profile]="enemy.getProfile()"
        ></app-player-profile>
  </div>

  </div>

  <div class="card card__info">
    <app-battle-log [battleLog]="battle.getEnemyLog()"></app-battle-log>
  </div>


  <div class="card card__info">
    <app-battle-log [battleLog]="battle.getCriticalLog()"></app-battle-log>
  </div>


    <div class="card card__info">
      <app-battle-log [battleLog]="battle.getBattleLog()"></app-battle-log>
    </div>

    <div class="card__player p-5">
      <div class="player-name">
        <span class="name">{{player.getName()}}</span>
      </div>

      <app-players-bar
      [bar]="battle.getPlayerLifeBar()"
      ></app-players-bar>

    </div>

    <div class="profile_player">
      <!-- <app-player-profile

      profile="Bael.png"
      ></app-player-profile> -->
      <app-player-profile

      [profile]="player.getProfile()"
      ></app-player-profile>
    </div>

    <div class="card player__info">

      <div class="card card__info">
        <app-battle-log [battleLog]="battle.getPlayerLog()"></app-battle-log>
      </div>

      <div class="status">
        <app-player-stats
        [hp]="player.getHp()"
        [mp]="player.getMp()"
        [atk]="player.getAtk()"
        [spd]="player.getSpd()"

        ></app-player-stats>
      </div>

    </div>

    <div class="actions" *ngIf="!battle.getPlayerSpellCard()">
      <button class="btn-8-bit" (click)="battle.playerAtk()" [class.atk]="battle.getIsAtk()">Attack</button>
      <button class="btn-8-bit" (click)="battle.playerSelectSpell()" [class.skill]="battle.getIsSkill()" >Skill</button>
      <button class="btn-8-bit" (click)="battle.playerBlock()" [class.block]="battle.getIsBlk()" >Block</button>
      <button class="btn-8-bit" (click)="battle.endTurn()">Done</button>
    </div>

    <div class="painel-skills" *ngIf="battle.getPlayerSpellCard();">
      <div class="skills">
        <button
        *ngFor="let ability of player.getAbilitiesModel()"
        [value]="ability.id"
        (click)="battle.playerSpellClick(ability.id,ability.description)"
        title="mp:{{ability.cost}}"
        >
        {{ability.name}}</button>

      </div>


      <button (click)="backAction()" ><<</button>
    </div>


  </div>



  <div class="menu" *ngIf="battle.getGameOver()">
    <button class="btn-8-bit" (click)="startGame()">Restart</button>
    <button class="btn-8-bit" (click)="sendValue(false)">Character Select</button>

  </div>

</div>



