.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.battle-card{
  width: 400px;
  font-size: 0.75rem;
  border: solid;
  padding: 5px;
  margin-bottom: 1rem;
}
.card{
  margin-bottom: 1rem;
}
.title{
  text-align: center;
  margin-bottom: 1rem;
}
.timer{
  margin-bottom: 1rem;
}
.opponent_name{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1px;
}
.profile_opponent{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.25rem;
}
.player-name{
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}
.profile_player{
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.status{
  background-color: gray;
  padding: 5px;
}
.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.painel-skills{
  height: 50px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.skills button, .painel-skills button{
  width: 50%;
  background-color: transparent;
  cursor:  pointer;
  border: none;
  color:#fff;
  font-family: 'Press Start 2P', cursive;
  padding: 5px;

}
.skills button:hover, .painel-skills button:hover{
  color: yellow;
}
.actions button{
  width: fit-content;
  background-color: transparent;
  cursor:  pointer;
  border: none;
  color:#fff;
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
}
.actions button:hover{
  color: yellow;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu button{
  width: 50%;
  background-color: transparent;
  cursor:  pointer;
  border: none;
  color:#fff;
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
}
.menu button:hover{
  color: red;
}
.atk{
  color: red!important;
}
.skill{
  color: red!important;
}
.block
{
  color: red!important;

}
