

<div class="character-painel"

*ngIf="!selected">


  <div class="title">
    <h1>PLAYER SELECT</h1>
  </div>

  <div class="header">

    <!-- <div class="info">
      <p>informations</p>
      <app-player-info
      *ngIf="playerInfo"
      [hp]="playerHp"
      [mp]="playerMp"
      [atk]="playerAtk"
      [def]="playerDef"
      [spd]="playerSpd"
      [ability]="playerAp"

      ></app-player-info>

    </div> -->

    <div class="painel-images">

        <app-select-player-card
      [character]="playerImage"
      [name]="characterPlayerName"
      ></app-select-player-card>

      <h2>VS</h2>

      <app-select-player-card
      [character]="enemyImage"
      [name]="characterEnemyName"
      ></app-select-player-card>


    </div>

    <!-- <div class="info">
      <p>Informations</p>
      <app-player-info
      *ngIf="enemyInfo"
      [hp]="enemyHp"
      [mp]="enemyMp"
      [atk]="enemyAtk"
      [def]="enemyDef"
      [spd]="enemySpd"
      [ability]="enemyAp"

      ></app-player-info>
    </div> -->

  </div>

  <div class="character-select">


    <div class="__select">

      <h3>Select You Character</h3>
      <app-character-select
    [characters]="characters"
    (getCharacterId)="getCharacterPlayer($event)"
    ></app-character-select>

    </div>

    <div class="__select">
       <h3>Select Opponent</h3>

      <app-character-select
      [characters]="enemies"
      (getCharacterId)="getCharacterEnemy($event)"
      ></app-character-select>

    </div>


  </div>

  <div class="process-painel">
    <button class="btn-8-bit"*ngIf="bothSelected" (click)="getStart()">Confirm</button>
  </div>
  
  <app-song
  [audio]="'stf2theme.mp3'"
  >

  </app-song>

</div>

<div *ngIf="selected">


<app-battle-card

[playerId]="characterId"
[enemyId]="enemyId"
(characterSelect)="setSelected($event)"

></app-battle-card>

</div>








